mixin mainnav(num)
  - var navs = [{name:'Home', href:'/'}, {name:'Settings', href:'/settings'}, {name:'Help', href:'/help'}, {name:'Logout', href:'/logout'}]
  .mainnav
    .title WorkFlowy Helper App
    .items
      each nav, i in navs
        - var klass = (i === num) ? 'selected' : ''
        a.nav(class=klass, href=nav.href)= nav.name