doctype 5
html
  head
    block title
      title myApp
    block styles
      link(rel='stylesheet', href='/css/main.css')
  body
    block content
    block scripts
      script(src='/js/lib/jquery.js')
      script(src='/js/app.js')
