.mainnav
  background-color: black
  height: 40px

  .items
    float: right
    margin-right: 100px

    .nav
      display: inline-block
      padding: 10px 20px
      margin: 1px 5px
      text-decoration: none
      color: white

      &.selected
        background-color: #ddd
        color: black

      &:hover
        background-color: #999
        text-decoration: underline
        color: black
