.list
  display: inline-block
  vertical-align: top
  font-size: 14px
  border-radius: 15px
  padding: 10px 20px
  margin: 0 20px
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, .5)

.completed
  color: #aaa

.error
  color: red
  font-size: 35px
  margin: 30px