* {
  margin: 0;
  padding: 0;
  font-family: TrebuchetMS, Helvetica, sans-serif;
}
body {
  height: 100%;
}
html {
  height: 100%;
}
.wfLists {
  padding-bottom: 200px;
}
.wfLists .list {
  min-width: 200px;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  border-radius: 15px;
  padding: 10px 20px;
  margin: 0 20px;
  box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
}
.wfLists .list .completed {
  display: none;
}
.wfLists .list .completed a,
.wfLists .list .completed div {
  color: #aaa !important;
}
.error {
  color: #f00;
  font-size: 35px;
  text-align: center;
}
.important {
  color: #f00;
  position: absolute;
  left: -10px;
  font-weight: bold;
  font-size: 16px;
}
.wf-item {
  margin: 10px 0;
}
.login {
  background-color: #ccfdd2;
  height: 100%;
}
.login .login-container {
  padding-top: 100px;
}
.login .login-container .login-box {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
  width: 500px;
  margin: 0 auto;
  padding: 50px;
}
.login .login-container .login-box .title {
  text-align: center;
  font-size: 35px;
  margin-bottom: 30px;
}
.login .login-container .login-box .fields {
  text-align: center;
}
.login .login-container .login-box .fields input {
  padding: 5px 0;
  margin: 0 5px;
}
.login .login-container .login-box .login-info {
  margin-top: 30px;
}
.login .login-container .login-box .login-btn {
  margin-right: 124px;
  text-align: right;
}
.register {
  background-color: #ccfdd2;
  height: 100%;
}
.register .register-container {
  padding-top: 100px;
}
.register .register-container .register-box {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
  width: 500px;
  margin: 0 auto;
  padding: 50px;
}
.register .register-container .register-box .title {
  text-align: center;
  font-size: 35px;
  margin-bottom: 30px;
}
.register .register-container .register-box .fields {
  text-align: center;
}
.register .register-container .register-box .fields input {
  width: 200px;
  padding: 5px 0;
  margin: 5px;
}
.register .register-container .register-box .register-info {
  margin-top: 30px;
}
.register .register-container .register-box .register-btn {
  margin-right: 42px;
  text-align: right;
}
.settings {
  width: 1000px;
  margin: 0 auto;
  margin-top: 100px;
}
.settings .wfCookie {
  margin-top: 20px;
}
.settings .wfCookie span {
  margin-right: 20px;
}
.settings .wfQs {
  margin-top: 20px;
}
.settings .wfQs span {
  margin-right: 55px;
}
.settings .defaultColor {
  margin-top: 20px;
}
.settings .defaultColor span {
  margin-right: 28px;
}
.settings .showCal {
  margin-top: 20px;
}
.settings .showCal span {
  margin-left: 15px;
}
.settings .labels {
  margin-top: 20px;
}
.settings .labels .wfLabel {
  margin-top: 10px;
  margin-left: 150px;
}
.settings .labels .wfLabel .wfName {
  margin: 0 10px;
}
.settings .labels .wfLabel .wfID {
  margin: 0 10px;
}
.settings .labels .wfLabel .wfDisp {
  margin-right: 15px;
}
.settings .labels .wfLabel .deleteButton {
  cursor: pointer;
  padding: 5px 10px;
}
.settings .labels .wfLabel .deleteButton:hover {
  background-color: #ccc;
}
.settings .labels .addNew {
  cursor: pointer;
  display: inline-block;
  margin-top: 10px;
  margin-left: 150px;
  padding: 10px 20px;
}
.settings .labels .addNew:hover {
  background-color: #ccc;
}
.settings .saveAll {
  cursor: pointer;
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
}
.settings .saveAll:hover {
  background-color: #ccc;
}
.mainnav {
  background-color: #000;
  height: 40px;
}
.mainnav .title {
  color: #fff;
  margin-left: 100px;
  font-size: 30px;
  float: left;
}
.mainnav .items {
  float: right;
  margin-right: 100px;
}
.mainnav .items .nav {
  display: inline-block;
  padding: 10px 20px;
  margin: 1px 5px;
  text-decoration: none;
  color: #fff;
}
.mainnav .items .nav.selected {
  background-color: #ddd;
  color: #000;
}
.mainnav .items .nav:hover {
  background-color: #999;
  text-decoration: underline;
  color: #000;
}
.loading {
  text-align: center;
}
.loading img {
  height: 100px;
}
.loading span {
  position: relative;
  top: -45px;
}
#calendar {
  width: 800px;
  margin: 30px auto;
}
.fc-cell-overlay {
  opacity: 0.7 !important;
}
.help {
  margin: 0 auto;
  width: 800px;
  font-size: 24px;
  padding-bottom: 50px;
}
.help div {
  margin: 20px 0;
}
.help .example {
  text-align: center;
  margin: 30px 0;
}
