.register
  background-color: #CCFDD2
  height: 100%

  .register-container
    padding-top: 100px

    .register-box
      background-color: #fff
      border-radius: 5px
      box-shadow: 0 0 20px 2px rgba(0, 0, 0, .5)
      width: 500px
      margin: 0 auto
      padding: 50px

      .title
        text-align: center
        font-size: 35px
        margin-bottom: 30px

      .fields
        text-align: center

        input
          width: 200px
          padding: 5px 0
          margin: 5px

      .register-info
        margin-top: 30px

      .register-btn
        margin-right: 42px
        text-align: right
