extends ../layout
include ../components/mainNav
include ../components/settings

block title
  title Workflowy Helper - Settings

block content
  +mainnav(1)
  .settings
    - var defColor = user.settings.defaultColor || 'black';
    h1 Settings Page
    .wfCookie
      span WorkFlowy Cookie
      input(type='text', value=user.settings.wfCookie).wfCookie-val
    .defaultColor
      span Default Item Color
      input(type='text', value=defColor).wfColor-val
    .showCal
      input(type='checkbox', checked=(user.settings.showCalendar == "true")).showCal-val
      span Show Calendar?
    .labels
      .label Workflowy Tags:
      if user.settings.wfLabels
        +settings(user.settings.wfLabels)
      .addNew Add New Label
    .saveAll Save Changes

append scripts
  script
    $(function () {
      require('/client/requires/settings');
    });
