.login
  background-color: #CCFDD2
  height: 100%

  .login-container
    padding-top: 100px

    .login-box
      background-color: #fff
      border-radius: 5px
      box-shadow: 0 0 20px 2px rgba(0, 0, 0, .5)
      width: 500px
      margin: 0 auto
      padding: 50px

      .title
        text-align: center
        font-size: 35px
        margin-bottom: 30px

      .fields
        text-align: center

        input
          padding: 5px 0
          margin: 0 5px

      .login-info
        margin-top: 30px

      .login-btn
        margin-right: 124px
        text-align: right
