.settings
  width: 1000px
  margin: 0 auto
  margin-top: 100px

  .wfCookie
    margin-top: 20px

    span
      margin-right: 20px

  .showCal
    margin-top: 20px

    span
      margin-left: 15px

  .labels
    margin-top: 20px

    .wfLabel
      margin-top: 10px
      margin-left: 150px

      .wfName
        margin: 0 10px

      .wfID
        margin: 0 10px

      .wfDisp
        margin-right: 15px

      .deleteButton
        cursor: pointer
        padding: 5px 10px

        &:hover
          background-color: #ccc

    .addNew
      cursor: pointer
      display: inline-block
      margin-top: 10px
      margin-left: 150px
      padding: 10px 20px

      &:hover
        background-color: #ccc

  .saveAll
    cursor: pointer
    display: inline-block
    margin-top: 10px
    padding: 10px 20px

    &:hover
      background-color: #ccc
